ENV=dev
BASE_URL=https://www.saucedemo.com
DEV_BASE_URL=https://www.saucedemo.com
STAGING_BASE_URL=https://staging.saucedemo.com
PROD_BASE_URL=https://prod.saucedemo.com
HEADLESS=true
BROWSER=chromium
